body {
  background-color: grey;
}

h1 {
  color: white;
}

#call-api {
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
}

#call-api:active {
  background-color: black;
}

/* change the styles in this file to whatever you want */
